body{
	background: #efefef;
	font-family: Tahoma;
}
.month {
	margin: 150px auto;
}
.month .day{
	background: #dddcdc;
	height: 70px;
	line-height: 70px;
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
	transition: .2s ease;
	font-size: 18px;
	font-weight: bold;
	border:1px solid #ddd;
	box-shadow: 0px 1px 10px 0 #a9a9a9;
	cursor: default;
}
.month .day:hover{
	font-size: 30px;
}
.month .today{
	background: #fff;
	cursor: pointer;
}
.month .waiting{
	background: #d7675c;
	color: #fff;
	cursor: pointer;
}
.month .alertbox{
	background: #fff;
	border: 1px solid #ddd;
	position: fixed;
	z-index: 1;
	top: 5%;
	left: 0;
	width: 500px;
	left: 35%;
	display: none;
}
.month .alertbox .head{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	padding: 10px;
	margin: 0;
}
.month .alertbox .details{
	line-height: 1.6;
	font-size: 16px;
	color: #666;
	background: #eee;
	padding: 10px;
	text-align: center;
}
.month .alertbox .btn-block{
	text-align: center;
	margin: 10px 0;
}